bitsandbytes==0.42.0
huggingface-hub==0.23.2
langid==1.1.6
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
requests==2.32.3
safetensors==0.4.3
scipy==1.13.1
tokenizers==0.19.1
tomli==2.0.1
toolwrapper==2.1.0
torch==2.3.0
indic-nlp-library
transformers==4.41.2
typing_extensions==4.12.1
fastapi
uvicorn
attrs
cattrs
sacremoses